* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 0;
    margin: 0;

}

:root {}

body {}

.master-d {}


div.master-d div.main-d section.location {}

section.location h3 {
    background: white;
    padding: 15px;
    margin: 7%;
    color: var(--ma-blue-color);
    box-shadow: 0px 0px 4px 1px #000000e6;
    border-radius: 30px;
    border-radius: 10px;
}

section.location h3:hover {
    transition: 1s;
    background: var(--ma-blue-color);
    padding: 15px;
    margin: 7%;
    color: white;
    box-shadow: 0px 0px 4px .8px #000000e6;
    border-radius: 10px;
    border-radius: 30px;
}



div.master-d div.main-d section.location div.location-contener {
    display: grid;
    grid-template-columns: 40% 60%;
    gap: 30px;
    /* background-color: red; */
}


div.master-d div.main-d section.location div.location-contener .img-contener {
    overflow: hidden;

}

div.master-d div.main-d section.location div.location-contener .img-contener img {
    height: 100%;
    width: 85%;
}

div.master-d div.main-d section.location div.location-contener .text-contener {
    /* background-color: blue; */
    color: var(--ma-blue-color);
    padding: 15px;
    /* padding-top: 0; */
    transform: translateY(-20px);
    direction: rtl;
    text-align: right;
    font-size: 20px;
    /* margin: 15px; */
}

/*  */
@media (max-width:500px) {
    div.master-d div.main-d section.location div.location-contener {
        display: flex;
        justify-content: space-between;
        flex-direction: column-reverse;
    }


}

/*  */
/*  */
.about {
    background-color: white;
}

.fr-txt h3 {
    font-size: 30px;
    padding: 10%;
    color: var(--ma-blue-color);

}

.heder-p {
    font-size: 20px;
    color: var(--text-prefer-gr-color);

}


/*  */